<%if params[:title]%>
  <h1>Search results for <%= @movies.first.title %> </h1>
<% else %>
  <h1>Top Rated Films:</h1>
<% end %>

<%= button_to "Discover Page", "/discover", method: :get%>

<% @movies.each do |movie| %>
  <p><%=link_to "#{movie.title}", "/movies/#{movie.id}"%>, Rating:<%= movie.vote_average %> </p>
<% end %>
