<h1>Top Rated Films:</h1>
<% @movies.each do |movie| %>
<ul>
  <p><%= movie.title %>, Rating:<%= movie.vote_average %></p>
</ul>
<% end %>

<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get%>
