---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=movie_api_key&language=en-US&page=1&query=Big%20Trouble%20in%20Little%20China
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/cTZ45PUZeuyToutVtkXIyQaDU6D.jpg","genre_ids":[28,12,35,14],"id":6978,"original_language":"en","original_title":"Big
        Trouble in Little China","overview":"When trucker Jack Burton agreed to take
        his friend, Wang Chi, to pick up his fiancee at the airport, he never expected
        to get involved in a supernatural battle between good and evil. Wang''s fiancee
        has emerald green eyes, which make her a perfect target for immortal sorcerer
        Lo Pan and his three invincible cronies. Lo Pan must marry a girl with green
        eyes so he can regain his physical form.","popularity":21.681,"poster_path":"/vWtOXvlcXCpb74GGfqYAnSbnm0L.jpg","release_date":"1986-05-30","title":"Big
        Trouble in Little China","video":false,"vote_average":7.2,"vote_count":2215}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 03 Feb 2022 05:38:54 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=movie_api_key&language=en-US&page=2&query=Big%20Trouble%20in%20Little%20China
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"results":[],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 03 Feb 2022 05:38:55 GMT
recorded_with: VCR 6.0.0
