<h1>Viewing Party!</h1>

<%=button_to "Create a New User", "/register", method: :get%>

<%= link_to "Log In", '/login' %>

<% @users.each do |user| %>
  <p><%=link_to "#{user.name}", "/dashboard" %></p>
<% end %>
