---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/9/reviews?api_key=movie_api_key&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 20ef6f3067fcd3cb5c381a7357294b593fb7e147
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15713'
      Last-Modified:
      - '2018-12-13 20:54:13 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":9,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 03 Feb 2022 20:45:53 GMT
recorded_with: VCR 6.0.0
