---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/9?api_key=movie_api_key&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 40ea7e6ce45357cbecb4a2154307dfbf27fab5ca
      X-Memc-Age:
      - '10739'
      X-Memc-Expires:
      - '5606'
      Etag:
      - W/"43e07b27740ebe2bfab06c19d1171dd9"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"}],"homepage":"","id":9,"imdb_id":"tt0425473","original_language":"de","original_title":"Sonntag
        im August","overview":"","popularity":2.602,"poster_path":null,"production_companies":[],"production_countries":[{"iso_3166_1":"DE","name":"Germany"}],"release_date":"2004-09-02","revenue":0,"runtime":15,"spoken_languages":[{"english_name":"German","iso_639_1":"de","name":"Deutsch"}],"status":"Released","tagline":"","title":"Sunday
        in August","video":false,"vote_average":7.1,"vote_count":12}'
  recorded_at: Fri, 18 Feb 2022 01:08:48 GMT
recorded_with: VCR 6.0.0
